#error_message {
  color: red;
  font-size: 14px;
}

@media screen and (max-width: 830px) {
  #error_message {
    font-size: 12px;
  }
}

@media screen and (max-width: 620px) {
  #error_message {
    font-size: 10px;
  }
}

@media screen and (max-width: 410px) {
  #error_message {
    font-size: 8px;
  }
}
