/* #home_page .wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 4px 0;
} */

#home_page h2 {
  padding: 8px 0 4px;
  color: #ffd60a;
}

@media screen and (max-width: 620px) {
  #home_page h2 {
    padding: 8px 0 0px;
    font-size: 18px;
  }

  #home_page p.loading_text {
    font-size: 12px;
  }
}

@media screen and (max-width: 410px) {
  #home_page h2 {
    font-size: 16px;
  }
  #home_page p.loading_text {
    font-size: 10px;
  }
}

@media screen and (max-width: 310px) {
  #home_page h2 {
    font-size: 14px;
  }

  #home_page p.loading_text {
    font-size: 8px;
  }
}
